In [17]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql.types import StructType,StructField,IntegerType,StringType

In [4]:
from pyspark.sql.window import Window
from pyspark.sql import functions as F
from pyspark.sql.functions import when

In [18]:
spark = SparkSession.builder.master("local").appName("Day2").getOrCreate()

In [21]:
order_df = spark.read.format("csv").option("header","true").option("inferschema","true").load("./orders/sales_data.csv")

In [24]:
order_df.createOrReplaceTempView("orders")

In [27]:
spark.sql("select Product,Product_ean from orders limit 5").show()

+--------------------+-----------------+
|             Product|      Product_ean|
+--------------------+-----------------+
|              iPhone|5.638008983335E12|
|Lightning Chargin...|5.563319511488E12|
|    Wired Headphones| 2.11397339522E12|
|    27in FHD Monitor|3.069156759167E12|
|    Wired Headphones|9.692680938163E12|
+--------------------+-----------------+

In [45]:
countingdf = order_df.head(5)

In [35]:
countingdf.sort("count",ascending = False).limit(5).show()

+--------------------+-----+
|             Product|count|
+--------------------+-----+
|USB-C Charging Cable|21903|
|Lightning Chargin...|21658|
|AAA Batteries (4-...|20641|
|AA Batteries (4-p...|20577|
|    Wired Headphones|18882|
+--------------------+-----+

In [41]:
count_product = order_df.select("product").distinct().count()

In [42]:
count_product

int

In [47]:
spark.sql("select * from orders").show()

+-------------------+--------+--------------------+-----------------+------------+--------------------+----------------+----------+------------------+--------+--------+
|         Order Date|Order ID|             Product|      Product_ean|   catégorie|    Purchase Address|Quantity Ordered|Price Each|        Cost price|turnover|  margin|
+-------------------+--------+--------------------+-----------------+------------+--------------------+----------------+----------+------------------+--------+--------+
|2019-01-22 21:25:00|  141234|              iPhone|5.638008983335E12|   Vêtements|944 Walnut St, Bo...|               1|     700.0|             231.0|   700.0|   469.0|
|2019-01-28 14:15:00|  141235|Lightning Chargin...|5.563319511488E12|Alimentation|185 Maple St, Por...|               1|     14.95|             7.475|   14.95|   7.475|
|2019-01-17 13:33:00|  141236|    Wired Headphones| 2.11397339522E12|   Vêtements|538 Adams St, San...|               2|     11.99|             5.995|   23.98|   11.99|
|2019-01-05 20:33:00|  141237|    27in FHD Monitor|3.069156759167E12|      Sports|738 10th St, Los ...|               1|    149.99| 97.49350000000001|  149.99| 52.4965|
|2019-01-25 11:59:00|  141238|    Wired Headphones|9.692680938163E12|Électronique|387 10th St, Aust...|               1|     11.99|             5.995|   11.99|   5.995|
|2019-01-29 20:22:00|  141239|AAA Batteries (4-...|2.953868554188E12|Alimentation|775 Willow St, Sa...|               1|      2.99|             1.495|    2.99|   1.495|
|2019-01-26 12:16:00|  141240|27in 4K Gaming Mo...|5.173670800988E12|   Vêtements|979 Park St, Los ...|               1|    389.99|128.69670000000002|  389.99|261.2933|
|2019-01-05 12:04:00|  141241|USB-C Charging Cable|8.051736777568E12|   Vêtements|181 6th St, San F...|               1|     11.95|             5.975|   11.95|   5.975|
|2019-01-01 10:30:00|  141242|Bose SoundSport H...|1.508418177978E12|Électronique|867 Willow St, Lo...|               1|     99.99|            49.995|   99.99|  49.995|
|2019-01-22 21:20:00|  141243|Apple Airpods Hea...| 1.38634421159E12|Électronique|657 Johnson St, S...|               1|     150.0|              97.5|   150.0|    52.5|
|2019-01-07 11:29:00|  141244|Apple Airpods Hea...|4.332898830865E12|   Vêtements|492 Walnut St, Sa...|               1|     150.0|              97.5|   150.0|    52.5|
|2019-01-31 10:12:00|  141245|  Macbook Pro Laptop|1.169379570345E12|   Vêtements|322 6th St, San F...|               1|    1700.0|             561.0|  1700.0|  1139.0|
|2019-01-09 18:57:00|  141246|AAA Batteries (4-...|4.436184749366E12|   Vêtements|618 7th St, Los A...|               3|      2.99|             1.495|    8.97|   4.485|
|2019-01-25 19:19:00|  141247|    27in FHD Monitor|7.313825995563E12|   Vêtements|512 Wilson St, Sa...|               1|    149.99| 97.49350000000001|  149.99| 52.4965|
|2019-01-03 21:54:00|  141248|       Flatscreen TV| 4.06275646306E12|Électronique|363 Spruce St, Au...|               1|     300.0|              99.0|   300.0|   201.0|
|2019-01-05 17:20:00|  141249|    27in FHD Monitor|9.643428300795E12|Alimentation|440 Cedar St, Por...|               1|    149.99| 97.49350000000001|  149.99| 52.4965|
|2019-01-10 11:20:00|  141250|     Vareebadd Phone|6.721780072847E12|Alimentation|471 Center St, Lo...|               1|     400.0|             132.0|   400.0|   268.0|
|2019-01-24 08:13:00|  141251|Apple Airpods Hea...|2.700099961823E12|Alimentation|414 Walnut St, Bo...|               1|     150.0|              97.5|   150.0|    52.5|
|2019-01-30 09:28:00|  141252|USB-C Charging Cable|3.692435232121E12|      Sports|220 9th St, Los A...|               1|     11.95|             5.975|   11.95|   5.975|
|2019-01-17 00:09:00|  141253|AA Batteries (4-p...|6.741495725758E12|Alimentation|385 11th St, Atla...|               1|      3.84|              1.92|    3.84|    1.92|
+-------------------+--------+--------------------+-----------------+------------+--------------------+----------------+----------+------------------+--------+--------+
only showing top 20 rows

In [57]:
from pyspark.sql.functions import col

In [65]:
turnover = order_df.filter(col('turnover') >= 150.0)

In [64]:
order_df.select("turnover").show()

+--------+
|turnover|
+--------+
|   700.0|
|   14.95|
|   23.98|
|  149.99|
|   11.99|
|    2.99|
|  389.99|
|   11.95|
|   99.99|
|   150.0|
|   150.0|
|  1700.0|
|    8.97|
|  149.99|
|   300.0|
|  149.99|
|   400.0|
|   150.0|
|   11.95|
|    3.84|
+--------+
only showing top 20 rows

In [1]:
turnover.select("turnover").filter(col("turnover") > 150).count()

NameError: name 'turnover' is not defined